/* background-image: url('assets/background.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */

@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+24&family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Dancing+Script:wght@400..700&family=Jacquard+24&family=News+Cycle:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* CABEÇALHO */

.cabecalho {
    padding: 1%;
    background-color: #EAF2FD;
}

.separacao {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
}

.cabecalho__titulo {
    font-family: "Jacquard 24", system-ui;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
    color: black;
    text-decoration: none;
}

.cabecalho__navegacao {
    display: flex;
    gap: 300px;
}

.navegacao__link {
    text-decoration: none;
}

.navegacao__texto {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: black;
}

.apresentacao { 
    padding: 2% 0 1% 5%;
    background-color: #F5F5F5;
}

.apresentacao__imagem{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 100px;
}

.imagemPerfil {
    height: 200px;
}

.apresentacao__titulo {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.apresentacao__subtitulo {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.links {
    display: flex;
    gap: 20px;
    padding: 1.3% 4%;
}

.links__div {
    display: flex;
    gap: 6px;
}

.links__link {
    text-decoration: none;
}

.links__texto {
    font-size: 20px;
    color: black;
    margin: 0;
}

.github {
    width: 25px;
    height: 25px;
}

.linkedin {
    width: 24px;
    height: 24px;
}

.instagram {
    width: 23px;
    height: 23px;
}

.curriculo {
    width: 23px;
    height: 23px;
}



/* SOBRE MIM */

.sobreMim {
    display: flex;
    flex-direction: column;
    padding: 1% 6%;
    background-color: #EAF2FD;
    gap: 15px;
}

.sobreMim__titulo {
    font-family: "Baskervville", serif;
    font-weight: 700;
    font-size: 30px;
}

.sobreMim__div {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sobreMim__paragrafo {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    font-style: italic;
}

/* SKILLS E HOBBIES */

.skills__hobbies {
    padding: 1% 0;
    background-color: #F5F5F5;
}

.skill__hobbies__titulo {
    font-family: "Baskervville", serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.quadrosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.quadros {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: white;
    width: 400px;
    height: 180px;
}

.quadros__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0
}

.lista__texto {
    font-family: "Baskervville", serif;
    font-weight: 700;
    font-style:oblique;
    font-size: 20px;
}

.htmlImagem {
    width: 55px;
}

.jsImagem {
    width: 63px;
}

.cssImagem {
    width: 48px;
}

.controleImagem {
    width: 60px;
}

.animeImagem {
    width: 65px;
}

.livroImagem {
    width: 60px;
}

.musculoImagem {
    width: 65px;
}

/* FORMAÇÃO ACADÊMICA */

.formacao {
    padding: 1% 0;
    background-color: #EAF2FD;
}

.formacao__texto {
    text-align: center;
    font-family: "Baskervville", serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.formacaoAcademica {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.ifmsImagem {
    width: 260px;
}

.formacaoAcademica__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 0;
    align-items: center;
    gap: 8px;
}

.lista__titulo {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 20px;
}

.lista__paragrafo {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 18px;
}

/* PROJETOS */

.projetos {
    padding: 1% 5%;
    background-color: #F5F5F5;
}

.projetos__texto {
    text-align: center;
    font-family: "Baskervville", serif;
    font-weight: 700;
}

.projetos__container {
    display: flex;
    flex-direction: column;
    padding: 1% 0;
    gap: 50px;
}

.projeto__div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.projeto__imagem {
    width: 43%;
}

.projeto__borda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    padding: 0 1%;
    gap: 40px;
}

.projeto__borda__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.projeto__titulo {
    font-family: "Baskervville", serif;
    font-weight: 700;
    color: #232323;
    font-size: 25px;
    margin: 0;
}

.projeto__descricao {
    font-family: "Baskervville", serif;
    font-weight: 400;
    color: #232323;
    font-size: 20px;
    margin: 0;
}

.linkss {
    display: flex;
    gap: 30px;
}

.projeto__links {
    display: flex;
    gap: 10px;
    border: 1px solid #faff00;
    background-color: #232323;
    width: 290px;
    height: 85px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.projeto__links__ancora {
    text-decoration: none;
}

.projeto__links:hover {
    background-color: #464646;
}

.link__texto {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    color: #faff00;
}

/* CONTATO */

.contato {
    padding: 3% 6%;
    background-color: #EAF2FD;
}

.contato__container {
    display: flex;
    gap: 40px;
}

.contato__imagem {
    width: 45%;
}

.contato__titulo {
    font-family: "Baskervville", serif;
    font-weight: 700;
    font-size: 29px;
    margin: 0 0 1% 0;
}

.contato__paragrafo {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 0.1% 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 4% 0 0 0;
}

.formulario__input {
    height: 50px;
    outline: none;
    border: none;
    padding: 0 0 0 2%;
    border-radius: 6px;
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.formulario__textarea {
    outline: none;
    border: none;
    resize: none;
    padding: 0 0 0 2%;
    border-radius: 6px;
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.formulario__botao {
    width: 180px;
    height: 60px;
    border-radius: 6px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: 18px;
    border: solid 1px #1abc9c;
    background-color: #1abc9c;
    color: #fff;
    transition: background-color .3s ease;
    cursor: pointer;
}

.formulario__input::placeholder {
    position: absolute;
    top: 15px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: 18px;
    pointer-events: none;
}

.formulario__textarea::placeholder {
    position: absolute;
    padding: 1% 0 0 0;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-size: 18px;
}

.formulario__botao:hover {
    background-color: #16a085;
}

/* RODAPE */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #dddcda;
}

.rodape__autor {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-size: 21px;
    margin: 1% 0 0 0;
}

.rodape__ano {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 1% 0;
}

/* obrigadoHTML */

.fundoQuadro {
    background-color: #dddcda;
}

.quadroContainer {
    display: flex;
    justify-content: center;
    padding: 1% 0;
    
}

.quadro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 1800px;
    height: 150px;
    padding: 0.5% 2%;
    background-color: #0F79BA;
    border-radius: 6px;
}

.quadro__texto {
    font-family: "Baskervville", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #fff;
}